<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find arm_description)/urdf/arm_description.xacro" />
  <rosparam file="$(find arm_description)/config/arm_controllers.yaml" command="load"/>
  
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model arm111 -x 0 -y 0 -z 0.05"
    output="screen" />
   
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        output="screen">
    <remap from="/joint_states" to="/arm/joint_states"/>
  </node>
  
  <!--Spawn Controller-->
  <node name="robot_controller_spawner" pkg="controller_manager" type="spawner"  respawn ="false" output="screen" ns="/arm"
    args="joint_state_controller  arm_controller"/>
  
  
 
</launch>
